---
import { getCollection } from "astro:content";


import Layout from "../layouts/Layout.astro";

import HeaderSmall from "../components/HeaderSmall.astro";

import BlogPost from "../components/BlogPost.astro";

const allPosts = await getCollection("posts");
const title = "Le news del Basket San Vincenzo";
const subtitle = "Il resoconto di tutte le attività di SVB";
---

<Layout title="SVB News">
<HeaderSmall title={title} subtitle={subtitle} />


      
      <div class="grid gap-8 lg:grid-cols-3 mt-10 mb-10">
        {
          allPosts.map((post) => (
           
            <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} image={post.data.image.url} description={post.data.description} author={post.data.author} tags={post.data.tags} date={post.data.pubDate}/>
          ))
        }
      </div>  

  
  

</Layout>