
---
const { title, url, description, immagine, numero, nomeatleta, ruolo, immaginealt, date, puntitot, partite, media } = Astro.props
---





<a href={url} class="flex flex-col  bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover lg:h-full rounded-t-lg md:h-auto md:w-40 md:rounded-none md:rounded-l-lg" src={immagine} alt={immaginealt}>
    <div class="flex flex-col justify-between p-4 leading-normal ">
        <div class="grid grid-cols-1 grid-rows-1 gap-2">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{nomeatleta}</h5>
        <p class="mb-3 font-bold text-gray-700 dark:text-gray-400"> Ruolo: {ruolo}</p>
        </div>
        <div class="grid grid-cols-1 grid-rows-1 gap-2">
        <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">Numero: {numero}</p>
       </div>
        <button type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Scheda Giocatore</button>
    </div>
</a>
