---

import ButtonGroup from './ButtonGroup.astro';
interface Props {
  projectTitle: string;
  body: string;
  href: string;
  type?: string;
  repo: string;
  statspb: string;
  image?: string;
  external?: boolean;
}

const { href, projectTitle, body, type, repo, image, statspb } = Astro.props;
---

<div
  class="bg-gray-50 dark:bg-gray-900 border border-gray-200 shadow-lg dark:border-gray-700 rounded-lg"
>
<img class="w-full dark:hidden border-solid border-2" src={image} alt="dashboard image">
<img class="w-full hidden dark:block" src={image} alt="dashboard image">
  <div class="px-8 py-8">
  {
    type && (
      <span class="bg-red-700 text-white text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-blue-100 mb-2">
        {type}
      </span>
    )
  }
  <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">
    {projectTitle}
  </h2>
  <p class="text-lg font-normal text-gray-700 dark:text-gray-400 mb-4">
    {body}
  </p>
  <ButtonGroup text1="Vedi la squadra" href1={href} text2="Stats" href2={repo} text3="Stats PlayBasket" href3={statspb}  />
</div>
